h1 {
  color: rgb(55, 55, 137);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 3px;
  text-align: left;
}

.sunny {
  position: -webkit-sticky;
  top: 8px;
  left: 16px;
  font-size: 18px;
  width: 40%;
  height: auto;
}

.codeLink {
  text-decoration: none;
  font-size: xx-small;
  color: rgb(131, 132, 150);
}

a:hover {
  color: hotpink;
}
.weatherApp {
  max-width: 650px;
  margin: 35px auto;
  padding: 50px 100px 50px 50px;
  border: 2px solid #676b9c;
  border-radius: 7px;
}
li {
  color: rgb(30, 30, 151);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 2px;
  text-align: left;
}
.temp {
  color: rgb(30, 30, 151);
}
.ul {
  margin: 0;
  padding: 0;
}
